template
    br
    div.row
      div.col-sm-4
        tree-view(data.bind="treeData")
      div.col-sm-4
        tree-view(data.bind="treeData")
      div.col-sm-4
        tree-view(data.bind="treeData")