template
    br
    div.row
      div.col-sm-4
        h3 On item select
        input(value.bind="selectedItemText")
        br
        br
        tree-view(data.bind="treeData", select.trigger="itemSelected($event.detail.$item)")

      div.col-sm-4
        h3 Filter
        button(click.trigger="isFilterActive = !isFilterActive") Toggle Filter
        tree-view(data.bind="treeData", filter-func.call="filterFunc($event)", filter.bind="isFilterActive")

      div.col-sm-4
        tree-view(data.bind="treeData")