template
  h3 Filter
  div.row
    div.col-sm-4
      tree-view(data.bind="treeData", filter-func.call="filterFunc($event)", filter.bind="isFilterActive")
    div.col-sm-4
      button(click.trigger="isFilterActive = !isFilterActive") Toggle Filter
    div.col-sm-4