template
    br
    div.row
      div.col-sm-4
        input(value.bind="selectedItemText")
        tree-view(data.bind="treeData", select.trigger="itemSelected($event.detail.$item)")
      div.col-sm-4
        tree-view(data.bind="treeData")
      div.col-sm-4
        tree-view(data.bind="treeData")