template
  h1 Grid Test
  div(style="height: 200px;border:1px solid red;")
    grid(show-filters.bind="true", height="auto", data.bind="data")
      grid-row
        grid-col(heading="ID", field="id", style="width:200px;", filter="input")
          | This is a
          i column template
          | :
          strong ${ $item.id }

        grid-col(heading="Active", field="isActive", filter="boolean")
          | ${$item.isActive}
        grid-col(heading="Name", field="name")
          button.btn.btn-primary(click.delegate="$parent.call('itemClicked', $item)") 
            | Click me I'm ... ${ $item.name }!

        grid-col(heading="Test", field="name")
          a(href="#") Jump to somewhere

  hr
  button(click.trigger="addItem()") Add item
    
  button(click.trigger="changeItem()") change item
  
