template
  require(from="Eonasdan/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")
  require(from="../style.css")

  div.input-group.date
    input.form-control(type="text", disabled.bind="disabled")
    span.input-group-addon
      span.fa.fa-calendar
